:root {
  --font-main: "Boldonse", system-ui;
  --font-family1: "Nothing You Could Do", cursive;
  --font-family2: "League Gothic", sans-serif;
  --font-color1: white;
  --font-color2: rgb(0, 45, 58);
  --font-color3: rgba(17, 25, 40, 0.9);
}

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nothing-you-could-do-regular {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-style: normal;
}

.league-gothic {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
}

body {
  #herosection {
    background-image: url(/assets/wave_top.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    h1,
    h2 {
      color: var(--font-color3);
      font-weight: 50;
    }
    h1 {
      padding-top: 10vh;
      font-size: 10em;
      text-transform: capitalize;
      color: var(--font-color2);
      span {
        font-family: var(--font-family1);
        font-size: 1.5em;
      }
    }
    h2 {
        span {
            font-family: var(--font-family1);
            font-size: 1.5em;
        }
    }
  }
  #description {
    background-color: var(--font-color2);
    p {
      width: 50%;
      padding-left: 29%;
      color: white;
      font-family: var(--font-family2);
      font-size: 2em;
      padding-top: 20vh;
      padding-bottom: 20vh;
      text-align: justify;
      span {
        font-size: 2rem;
        font-family: var(--font-family2);
      }
    }
  }
  #realisation, #parcours {
    background-color: var(--font-color2);
    h2 {
        font-family: var(--font-family1);
        text-align: center;
        color: white;
        padding-bottom: 5vh;
        font-size: 3em;
      }
  }
  #realisation {
    ul {
        display: flex;
        margin-left: 15%;
        margin-right: 15%;
        justify-content: space-around;
      li {
        list-style: none;
        width: 35%;
        height: 120vh;
        img {
            width: 100%;
            height: 95vh;
            object-fit: cover;
            object-position: top;
        }
        img:hover {
            background-color: var(--font-color2);
            opacity: 0.1;        
        }
        h3 {
            color: white;
            font-weight: 50;
            font-size: 1em;
            margin-bottom: 2%;
        }
      }
    }
  }
  #parcours {
  }
}
