:root {
  --font-main: "Boldonse", system-ui;
  --font-family1: "Nothing You Could Do", cursive;
  --font-family2: "League Gothic", sans-serif;
  --font-family3: "Libre Baskerville", serif;
  --font-family4: "Birthstone Bounce", cursive;
  --font-color1: white;
  --font-color2: rgb(0, 45, 58);
  --font-color3: rgba(17, 25, 40, 0.9);
  --font-color4: rgb(24, 127, 155);
}

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nothing-you-could-do-regular {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-style: normal;
}

.league-gothic {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.birthstone-bounce-regular {
  font-family: "Birthstone Bounce", cursive;
  font-weight: 400;
  font-style: normal;
}

.birthstone-bounce-medium {
  font-family: "Birthstone Bounce", cursive;
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
}

body {
  a.englishVersion {
    padding: 1vh 3vh 1vh 3vh;
    margin-left: 88%;
    margin-bottom: 2%;
    top: 3%;
    position: absolute;
    border-radius: 10px;
    color: var(--font-color1);
    text-decoration: none;
  }

  button.menuButton {
    background-color: transparent;
    padding: 1vh 3vh 1vh 3vh;
    border-radius: 10px;
    position: fixed;
    text-transform: uppercase;
    margin-left: 92%;
    margin-bottom: 2%;
    top: 3%;
    color: var(--font-color1);
    border: 1px solid var(--font-color1);
    a {
      color: var(--font-color1);
      text-decoration: none;
    }
    a:hover {
      color: var(--font-color2);
    }
  }

  @media (max-width: 650px) {
    button.menuButton {
      margin-left: 85%;
    }
    a.englishVersion {
      margin-left: 75%;
    }
  }

  button#myBtn {
    background-color: transparent;
    padding: 1vh 3vh 1vh 3vh;
    border-radius: 10px;
    text-transform: uppercase;
    color: var(--font-color1);
    border: 1px solid var(--font-color1);
    margin-bottom: 2%;
  }
  button.myBtn {
    margin-left: 92%;
  }

  @media (max-width: 650px) {
    button.myBtn {
      margin-left: 85%;
    }
  }

  button.menuButton:hover {
    color: var(--font-color2);
    border: 1px solid var(--font-color2);
  }
  background-color: var(--font-color2);

  nav {
    background-image: url(../assets/wave_inside.avif);
    ul {
      padding: 5%;
      height: 80vh;
      li {
        text-transform: uppercase;
        list-style: none;
        text-align: center;
        width: 100%;
        a {
          padding-left: 2%;
          font-size: 6em;
          font-family: var(--font-family2);
          color: var(--font-color1);
          text-decoration: none;
        }
        a:hover {
          font-style: italic;
          font-family: var(--font-family1);
          text-transform: lowercase;
        }
      }
    }
  }

  .sidebar {
    display: none;
    flex-direction: column;
  }

  #herosection {
    background-image: url(../assets/wave_top.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    h1,
    h2 {
      color: var(--font-color3);
      font-weight: 50;
    }
    h1 {
      font-size: 11em;
      font-family: var(--font-family2);
      text-transform: uppercase;
      color: var(--font-color2);
      span:first-child {
        font-family: var(--font-family4);
        font-size: 1.9em;
        text-transform: capitalize;
        padding-right: 3vw;
      }
    }
    @media (max-width: 650px) {
      h1 {
        font-size: 5em;
      }
    }

    h2 {
      font-family: var(--font-family2);
      text-transform: uppercase;
      font-size: 2em;
      span {
        font-family: var(--font-family1);
        font-size: 1.5em;
      }
    }
    @media (max-width: 650px) {
      h2 {
        font-size: 2em;
        span {
          font-size: 1em;
        }
      }
    }

    h2:hover {
      font-style: italic;
      font-family: var(--font-family1);
      text-transform: lowercase;
    }
    div:last-child {
      line-height: 6vh;
      padding-top: 10vh;
    }

    @media (max-width: 650px) {
      div:last-child {
        padding-top: 15vh;
      }
    }

    .slide-bottom {
      -webkit-animation: slide-bottom 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
      animation: slide-bottom 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }
  #description {
    margin-bottom: 10vh;

    p:last-child {
      width: 40%;
      margin-left: 30%;
      z-index: auto;
      margin-right: 30%;
      color: var(--font-color1);
      font-family: var(--font-family2);
      font-size: 2em;
      padding-top: 20vh;
      padding-bottom: 20vh;
      text-align: justify;
      span {
        font-size: 2rem;
        font-family: var(--font-family2);
      }
    }
    @media (max-width: 650px) {
      p:last-child {
        width: 70%;
        margin: 15%;
      }
    }
    p:first-child {
      z-index: -10;
      font-size: 20em;
      font-weight: 600;
      color: var(--font-color3);
      opacity: 0.3;
      font-family: var(--font-family2);
      position: absolute;
      margin-top: 10%;
      margin-right: 10%;
      margin-left: 10%;
    }
    @media (max-width: 650px) {
      p:first-child {
        font-size: 9em;
      }
    }
  }
  #realisation,
  #parcours,
  #socials,
  #contact {
    margin-bottom: 10vh;
    h2 {
      font-family: var(--font-family1);
      text-align: center;
      color: var(--font-color1);
      padding-bottom: 5vh;
      font-size: 3em;
    }
  }
  #realisation {
    @media (max-width: 650px) {
      ul {
        width: 100%;
        margin: 0;
        flex-direction: column;
      }
    }
  }
  ul {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-around;
    li {
      list-style: none;
      width: 35%;
      height: 100vh;
      img {
        width: 100%;
        height: 85vh;
        object-fit: cover;
        object-position: top;
        background-color: var(--font-color2);
        opacity: 0.3;
      }
      img:hover {
        background: none;
        opacity: 1;
      }
      h3 {
        color: var(--font-color1);
        font-weight: 50;
        font-size: 1em;
        margin-bottom: 2%;
      }
    }
    @media (max-width: 650px) {
      li {
        width: 85%;
        margin: 7.5%;
      }
    }
  }
}
#parcours {
  margin-left: 15%;
  margin-right: 15%;
  color: var(--font-color3);
  h2 {
    color: var(--font-color3);
  }
  div {
    display: flex;
    p:first-child {
      font-size: 5em;
      width: 15vw;
    }
    @media (max-width: 650px) {
      p:first-child {
        font-size: 2em;
      }
    }
    p:last-child {
      width: 40vw;
      text-align: justify;
      margin-left: 10%;
      margin-top: 2.5%;
    }
  }
}

#socials {
  background-image: url(../assets/wave_cloud.avif);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 22%;
  height: 50vh;
  @media (max-width: 650px) {
    height: 80vh;
  }
  h2 {
    padding-top: 10%;
  }
  div {
    a {
      text-decoration: none;
    }
    h3 {
      font-size: 4em;
      color: var(--font-color2);
    }
    h3:hover {
      color: var(--font-color1);
    }
    p {
      margin-left: 40%;
      color: var(--font-color1);
      font-family: var(--font-family1);
      font-size: 1.4em;
      text-align: justify;
    }
    @media (max-width: 650px) {
      h3 {
        font-size: 2em;
      }
    }
  }
}

footer {
  height: 50vh;
  div {
    p {
      font-family: var(--font-family2);
      font-size: 5em;
      text-transform: uppercase;
      text-align: center;
      color: var(--font-color1);
      span {
        font-family: var(--font-family1);
        text-transform: lowercase;
      }
    }
    button {
      border: 1px solid var(--font-color1);
      /* font-family: var(--font-family2); */
      border-radius: 10px;
      padding: 1vh 3vh 1vh 3vh;
      background-color: transparent;
      color: var(--font-color1);
      font-size: 1.2em;
    }
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

html {
  scroll-behavior: smooth;
}
