:root {
  --font-main: "Boldonse", system-ui;
  --font-family1: "Nothing You Could Do", cursive;
  --font-family2: "League Gothic", sans-serif;
  --font-family3: "Libre Baskerville", serif;
  --font-family4: "Birthstone Bounce", cursive;
  --font-color1: white;
  --font-color2: rgb(0, 45, 58);
  --font-color3: rgba(17, 25, 40, 0.9);
}

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nothing-you-could-do-regular {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-style: normal;
}

.league-gothic {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.birthstone-bounce-regular {
  font-family: "Birthstone Bounce", cursive;
  font-weight: 400;
  font-style: normal;
}

.birthstone-bounce-medium {
  font-family: "Birthstone Bounce", cursive;
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
}

body {
  button.menuButton {
    background-color: transparent;
    padding: 1vh 3vh 1vh 3vh;
    border-radius: 10px;
    position: fixed;
    text-transform: uppercase;
    left: 90vw;
    top: 5vh;
    color: var(--font-color1);
    border: 1px solid var(--font-color1);
  }
  button.menuButton:hover {
    color: var(--font-color2);
    border: 1px solid var(--font-color2);
  }
  button.menuButton:visited {
    color: var(--font-color1);
    border: 1px solid var(--font-color1);
  }
  button.menuButton:link {
    color: var(--font-color1);
    border: 1px solid var(--font-color1);
  }
  button.menuButton:active {
    color: var(--font-color1);
    border: 1px solid var(--font-color1);
  }

  button#myBtn {
    background-color: transparent;
    padding: 1vh 3vh 1vh 3vh;
    border-radius: 10px;
    text-transform: uppercase;
    color: var(--font-color1);
    border: 1px solid var(--font-color1);
    margin-left: 92%;  
    margin-bottom: 2%;
  }
  button.menuButton:hover {
    color: var(--font-color2);
    border: 1px solid var(--font-color2);
  }
  background-color: var(--font-color2);

  nav {
    background-image: url(../assets/wave_inside.avif);
    ul {
      padding: 5%;
      height: 100vh;
      li {
        text-transform: uppercase;
        list-style: none;
        text-align: center;
        a {
          padding-left: 2%;
          font-size: 6em;
          font-family: var(--font-family2);
          color: var(--font-color1);
          text-decoration: none;
        }
        a:hover {
          /* color: rgb(0, 119, 255); */
          font-style: italic;
          font-family: var(--font-family1);
          text-transform: lowercase;
        }
      }
    }
  }

  .sidebar {
    display: none;
    flex-direction: column;
  }

  #herosection {
    background-image: url(../assets/wave_top.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    h1,
    h2 {
      color: var(--font-color3);
      font-weight: 50;
    }
    h1 {
      font-size: 11em;
      font-family: var(--font-family2);
      text-transform: uppercase;
      color: var(--font-color2);
      span:first-child {
        font-family: var(--font-family4);
        font-size: 1.9em;
        text-transform: capitalize;
        padding-right: 3vw;
      }
    }

    h2 {
      font-family: var(--font-family2);
      text-transform: uppercase;
      font-size: 2em;
      span {
        font-family: var(--font-family1);
        font-size: 1.5em;
      }
    }
    h2:hover {
      font-style: italic;
      font-family: var(--font-family1);
      text-transform: lowercase;
    }
    div:last-child {
      line-height: 6vh;
      padding-top: 10vh;
    }

    .slide-bottom {
      -webkit-animation: slide-bottom 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
      animation: slide-bottom 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }
  #description {
    margin-bottom: 10vh;

    p:last-child {
      width: 40%;
      margin-left: 30%;
      z-index: auto;
      margin-right: 30%;
      color: var(--font-color1);
      font-family: var(--font-family2);
      font-size: 2em;
      padding-top: 20vh;
      padding-bottom: 20vh;
      text-align: justify;
      span {
        font-size: 2rem;
        font-family: var(--font-family2);
      }
    }
    p:first-child {
      z-index: -10;
      font-size: 20em;
      font-weight: 600;
      color: var(--font-color3);
      opacity: 0.3;
      font-family: var(--font-family2);
      position: absolute;
      margin-top: 10%;
      margin-right: 10%;
      margin-left: 10%;
    }
  }
  #realisation,
  #parcours,
  #socials,
  #contact {
    margin-bottom: 10vh;
    h2 {
      font-family: var(--font-family1);
      text-align: center;
      color: var(--font-color1);
      padding-bottom: 5vh;
      font-size: 3em;
    }
  }
  #realisation {
    ul {
      display: flex;
      margin-left: 15%;
      margin-right: 15%;
      justify-content: space-around;
      li {
        list-style: none;
        width: 35%;
        height: 100vh;
        img {
          width: 100%;
          height: 85vh;
          object-fit: cover;
          object-position: top;
        }
        img:hover {
          background-color: var(--font-color2);
          opacity: 0.1;
        }
        h3 {
          color: var(--font-color1);
          font-weight: 50;
          font-size: 1em;
          margin-bottom: 2%;
        }
      }
    }
  }
  #parcours {
    margin-left: 15%;
    margin-right: 15%;
    color: var(--font-color3);
    h2 {
      color: var(--font-color3);
    }
    div {
      display: flex;
      p:first-child {
        font-size: 5em;
        width: 15vw;
      }
      p:last-child {
        width: 40vw;
        text-align: justify;
        margin-left: 10%;
        margin-top: 2.5%;
      }
    }
    div:hover {
      color: var(--font-color1);
    }
  }
  #socials {
    margin-left: 15%;
    margin-right: 15%;
    height: 70vh;
    ul {
      display: flex;
      justify-content: space-around;
      li {
        list-style: none;
        text-align: center;
        padding-top: 20vh;
        .linkedin {
          background-image: url(../assets/wave_side.jpg);
          padding: 20vh 20vh 20vh 20vh;
          background-size: cover;
          background-position: center;
        }
        .github {
          background-image: url(../assets/wave_side2.jpg);
          padding: 20vh 20vh 20vh 20vh;
          background-size: cover;
          background-position: center;
        }
        a {
          color: var(--font-color1);
          font-size: 2em;
          text-transform: uppercase;
        }
        a:hover {
          background-color: var(--font-color2);
          opacity: 0.1;
        }
      }
    }
  }
  #contact {
    .container {
      padding-top: 5%;
      width: 100%;
      height: 70vh;
      background-image: url(../assets/wave_top2.jpg);
      background-position: center;
      h2 {
        color: var(--font-color2);
      }

      form {
        width: 40%;
        color: var(--font-color1);
        margin-left: 30%;
        margin-right: 30%;
        line-height: 2em;
        label,
        p {
          font-family: var(--font-family3);
          color: var(--font-color2);
          font-weight: 600;
        }
        p {
          width: 15%;
        }
        div {
          display: flex;
          div {
            input[type="radio"],
            label {
              padding-left: 5%;
            }
            .inputLabelParticulier {
              padding-right: 15%;
            }
          }
        }
        textarea {
          font-family: var(--font-family3);
          color: lightblue;
          font-weight: 600;
          width: 100%;
          margin-top: 2%;
          margin-bottom: 2%;
        }
        input[type="text"] {
          width: 73%;
          border: none;
          border-bottom: 2px solid var(--font-color2);
          background-color: transparent;
        }
        input[type="email"] {
          width: 65%;
          border: none;
          border-bottom: 2px solid var(--font-color2);
          background-color: transparent;
        }
      }
      button {
        background-color: transparent;
        padding: 1vh 3vh 1vh 3vh;
        border-radius: 10px;
        color: var(--font-color2);
        border-color: var(--font-color2);
        font-family: var(--font-family1);
        font-weight: 900;
        font-size: 1.1em;
        margin-left: 33%;
        margin-right: 33%;
      }
      button:hover {
        background-color: var(--font-color2);
        color: var(--font-color1);
        border-color: var(--font-color1);
      }
    }
  }
  footer {
    height: 50vh;
    div {
      p {
        font-family: var(--font-family2);
        font-size: 5em;
        text-transform: uppercase;
        text-align: center;
        color: var(--font-color1);
        span {
          font-family: var(--font-family1);
          text-transform: lowercase;
        }
      }
      button {
        border: 1px solid var(--font-color1);
        /* font-family: var(--font-family2); */
        border-radius: 10px;
        padding: 1vh 3vh 1vh 3vh;
        background-color: transparent;
        color: var(--font-color1);
        font-size: 1.2em;
      }
    }
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

html{
  scroll-behavior: smooth;
  }
  